<div id="page-content">
  <h1 class="text-center mt-4 ">Listing all Categories</h1>
</div>
<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>
  <%= render 'categories' %>
<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>
